<div style="font-size: 21px">
    <form name="form">
        <input
                id="on-off-switch"
                bs-switch
                name="my-checkbox"
                ng-model="isSelected"
                type="checkbox"
                data-switch-on-text="{{ onText }}"
                data-switch-off-text="{{ offText }}"
                data-switch-on-color="{{ onColor }}"
                data-switch-off-color="{{ offColor }}"
                data-switch-size="{{ size }}"
                data-switch-inverse="true"
                data-state="false">
    </form>
</div>